---
import type { WorkInfo } from '../common/types';
import ExternalLink from './ExternalLink.astro';

type Props = WorkInfo;

const { link, imgName, imgAlt, title } = Astro.props;
---

<ExternalLink link={link}>
  <div class="card">
    <picture>
      <src
        srcset={`assets/works/${imgName}-sm.png`}
        type="image/png"
        media="(max-width: 640px)"></src>
    </picture>
    <img
      src={`assets/works/${imgName}-md.png`}
      class="image"
      alt={imgAlt}
      loading="lazy"
    />
    <h5 class="title">{title}</h5>
  </div>
</ExternalLink>

<style>
  .card {
    width: 400px;
    height: 300px;
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
    text-align: center;
    overflow: hidden;
  }

  .image {
    padding: 0;
    border: 0;
    border-bottom: 1px solid #eee;
  }

  .title {
    padding: 12px;
  }

  @media (width <= 640px) {
    .card {
      width: 240px;
      height: 200px;
    }
  }
</style>
